header{
  width: 980px;
  height: 140px;
  background-color: #0D7962;
  border: 2px dashed black;
  margin: auto;
  margin-bottom: 10px;
}
main{
  width: 980px;
  height: 450px;
  border: 2px dashed blue;
  margin: auto;
  margin-bottom: 10px;
}
aside{
  width: 270px;
  height: 450px;
  background-color: #0D7962;
  border: 2px dashed blue;
  float: left;
  margin-right: 10px;
}
section{
  width: 690px;
  height: 450px;
  background-color: #0D7962;
  border: 2px dashed blue;
  float: left;
}
footer{
  width: 980px;
  height: 70px;
  background-color: #0D7962;
  border: 2px dashed purple;
  margin: auto;
}